include README.md
include CHANGELOG.md
include LICENSE.txt
recursive-include src/rotorse/test *.py
global-exclude openmdao_log.txt
graft src/rotorse/5MW_AFFiles
graft src/rotorse/5MW_PreCompFiles
graft src/rotorse/10MW_AFFiles
graft src/rotorse/10MW_PreCompFiles
graft src/rotorse/3_35MW_AFFiles
graft src/rotorse/3_35MW_PreCompFiles
graft src/rotorse/1_5MW_AFFiles
graft src/rotorse/1_5MW_PreCompFiles
graft src/rotorse/BAR_00_AFFiles
graft src/rotorse/BAR_00_PreCompFiles
graft src/rotorse/turbine_inputs
